/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 01 - Basic
  -----------------------------------
*/

.p7TMM01 {
	font-size: inherit;
	font-family: Arial, Helvetica, sans-serif;
	zoom: 1;
}
.p7TMM01 div {
	zoom: 1;
}
.p7TMM01 ul {
	margin: 0;
	padding: 0;
}
.p7TMM01 li {
	list-style-type: none;
	margin: 0;
	background-color: #F1F7FC;
	border-bottom: 1px solid #F6EDF3;
}
.p7TMM01 ul ul li {
	padding-left: 1em;
}
.p7TMM01 ul a {
	color: #BA2890;
	display: block;
	padding: 3px 8px 3px 18px;
	text-decoration: none;
	zoom: 1;
	outline: 0;
}
.p7TMM01 ul a:hover, .p7TMM01 ul a:focus, .p7TMM01 ul a:active {
	color: #0279C3;
	text-decoration: none;
	background-color: #F5E6F1;
}
.p7TMM01 ul ul a {
	font-size: 90%;
}
.p7TMM01 a.p7tmm_page {
	background-image: url(../images/bullet-blue.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM01 a.trig_closed {
	background-image: url(../images/r-men-arr.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM01 a.trig_open {
	background-image: url(../images/down-men-arr.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
}
.p7TMM01 ul ul a.trig_open {
	color: #219CDA;
	background-color: #FFFFFF;
}
.p7TMM01 a.current_mark {
	font-weight: bold;
	color: #007BC5;
	background-color: #FFFFFF;
}
.p7TMM01 ul ul a.current_mark {
	color: #027DC7;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM01_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM01_toggle_all a {
	color: #0082CB;
	font-variant: small-caps;
	outline: 0;
}
.p7TMM01_toggle_all a:hover, .p7TMM01_toggle_all a:focus, .p7TMM01_toggle_all a:active {
	color: #A54E9E;
	text-decoration: underline;
}
